
body {
    background: #ccd3d0 url(/Users/jsonrete/Documents/Projects/school/flatiron/code/pi_ct/pict_frontend/images/451806-200.png) right bottom no-repeat fixed;
    background-size: 25%;
    font-family: 'Times New Roman', Times, serif;
    color: #bb0606;
    font-weight: 400;
    line-height: 2cm;
    font-size: x-large;
  }

a {
    color: dodgerblue;
}

input {
    font-size: 1cm;
}

.container {
    width: 30cm;
    margin: auto;
    margin-top: 2cm;
}
ul {
    padding: auto;
}


#new-info-form {
    display: grid;
    grid-template: 2fr 1fr;
    grid-gap: 1cm;
}

#info-form {
    display: grid;
    grid-template: 2fr 1fr;
    grid-gap: 1cm;
}


.info-card {
    margin: 1rem;
    height: 40rem;
    background: #f4dede;
    border-radius: 1rem;
    opacity: 90%;
  }
  
  .prod-info {
    padding: 1rem;
  }
  
  .card-info span {
    font-weight: 700;
  }
  
  .info-title {
    color: #BC4524;
    font-family: '';
    font-size: 1.7rem;
    text-align: center;
  }
  
  .title {
    font-weight: 700;
    font-size: 1.2rem;
  }
  
  .tempo {
    font-weight: 700;
    font-size: 1.2rem;
  }

  .key {
    font-weight: 700;
    font-size: 1.2rem;
  }